In [2]:
def kuchbhi():
    a=10
    b=23
    c=a+b
    print(f'the sum of a and is {c}')

kuchbhi()

the sum of a and is 33

In [5]:
name = "Shakespeare"
city = "London"
print(f'{name} lives in {city}')

Shakespeare lives in London

django (jinja2) system
```
{% for var in sequence %}
    <html code>
    {{ var }}
    <html code>
{% endfor %}



```

dictionary

In [2]:
product1 = {
    'brand': 'apple',
    'name': 'Iphone 16',
    'price': 150000
}

In [3]:
print(product1['brand'])
print(product1.get('ram'))
print(product1.get('ram', 'not found'))
print(product1.get('price', 'not found'))

apple
None
not found
150000

In [5]:
kharche = {
    'sabji': 100,
    'dawai': 200,
    'phal': 50,
    'phone ke bill': 500,
}
for k,v in kharche.items():
    print(f"{k} ka kharcha {v} rupees")

sabji ka kharcha 100 rupees
dawai ka kharcha 200 rupees
phal ka kharcha 50 rupees
phone ke bill ka kharcha 500 rupees

functions

In [15]:
# def abbr_generator(data):
#     words = data.split(',')
#     for word in words:
#         clean_word = word.strip()
#         print(clean_word)

In [18]:
def abbr_generator(data):
    words = data.split(',')
    abbreviations = []
    for word in words:
        clean_word = word.strip()
        abbr = ''
        for item in clean_word.split():
            abbr += item[0].upper()
        abbreviations.append(abbr)
    return abbreviations

In [21]:
abbr_generator('Alex newman, Bruce wayne, Samuel Jackson, robert Downey Jr')

['AN', 'BW', 'SJ', 'RDJ']

In [22]:
def word_count(sentence):
    words = sentence.split()
    size = len(words)
    return size

In [23]:
word_count("i want to sleep")

4

In [24]:
word_count('Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda distinctio. Rerum, id velit ratione, veritatis voluptatum optio iusto enim fugiat minima aliquam a amet?')

25

# class and objects

In [1]:
class Student:
    name = ""
    rollno = ""
    klass = ""

    def show(self):
        print(self.name)
        print(self.rollno)
        print(self.klass)

In [4]:
# object creation
s1 = Student() # object creation using constructor
s1.name = "Alex"
s1.rollno = 101
s1.klass = "XII"
print(s1.name)
print(s1.rollno)
print(s1.klass)

Alex
101
XII

In [5]:
s1.show()

Alex
101
XII

In [6]:
class Bus:
    def __init__(self, number, driver, type, manufacturer):
        self.number = number
        self.driver = driver
        self.bus_type = type
        self.manufacturer = manufacturer

    def info(self):
        print(f"Bus Number: {self.number}")
        print(f"Bus Driver: {self.driver}")
        print(f"Bus Type: {self.bus_type}")
        print(f"Bus Manufacturer: {self.manufacturer}")

In [7]:
b1 = Bus("UP32 AA 3423", "Prakash", "Non A/C", "TATA")
b2 = Bus("UP32 FD 5462", "Rakesh", "AC", "VOLVO")
b1.info()
b2.info()

Bus Number: UP32 AA 3423
Bus Driver: Prakash
Bus Type: Non A/C
Bus Manufacturer: TATA
Bus Number: UP32 FD 5462
Bus Driver: Rakesh
Bus Type: AC
Bus Manufacturer: VOLVO

In [4]:
class Person:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender
    def show(self):
        print(f"Name: {self.name}, Gender: {self.gender}")

In [5]:
class Engineer(Person):
    def __init__(self, name, gender, type):
        super().__init__(name, gender)
        self.type = type

In [8]:
e1 = Engineer("Raj", "Male", "Civil")
e1.show()
p1 = Person("Arti", "Female")
p1.show()

Name: Raj, Gender: Male
Name: Arti, Gender: Female